/*
-----------------------------------------------------------------------------------
|
| Reset
|
-----------------------------------------------------------------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/*
-----------------------------------------------------------------------------------
|
| Fonts
|
-----------------------------------------------------------------------------------
*/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(../../fonts/Lato-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: url(../../fonts/Merriweather-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: url(../../fonts/Merriweather-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/Merriweather-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: url(../../fonts/SourceCodePro-Light.ttf) format('truetype');
}

/*
-----------------------------------------------------------------------------------
|
| Variables
|
-----------------------------------------------------------------------------------
*/

$color-first: #3CB5B5;
$color-second: #EC6C20;
$color-third: #FCD920;

$color-first-blend: #1D5252;
$color-second-blend: #693211;

$body-width: 840px;
$img-wide-overlap: 500px;

/*
-----------------------------------------------------------------------------------
|
| Base
|
-----------------------------------------------------------------------------------
*/

html {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 21px;
  @media (max-width: 720px) {
    font-size: 16px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 3em auto 0em auto;
  max-width: $body-width;
  padding: 1em;
  @media (max-width: 720px) {
    padding: 0em 1.5em 0em 1.5em;
  }
}

h1 {
  font-weight: bold;
}

code {
  font-size: 90%;
  font-family: 'Source Code Pro' !important;
}

/*
-----------------------------------------------------------------------------------
|
| Pages
|
-----------------------------------------------------------------------------------
*/

.page-index {
  text-align: center
}

/*
-----------------------------------------------------------------------------------
|
| Front
|
-----------------------------------------------------------------------------------
*/

.front__logo {
  width: 100%;
  max-width: 500px;
}

.front__links {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  list-style-type: none;
  @media (max-width: 720px) {
    flex-direction: column;
  }

  li {
    @media (max-width: 720px) {
      margin-top: 1em;
    }
  }

  a {
    padding: 0em 0.4em 0em 0.4em;
  }
}

.front__article-selector {
  margin-top: 2em;
  min-width: 200px;
  max-width: 100%;
  font-size: 1em;
}

/*
-----------------------------------------------------------------------------------
|
| Article
|
-----------------------------------------------------------------------------------
*/

.article {
  margin-top: 4em;
  text-align: left;
  transition: transform 0.600s ease-in-out, opacity 0.600s ease-in-out;
  opacity: 0;
  transform: translateY(40px);
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

.article__title { 
  font-size: 3em;
  line-height: 1.2em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.article h2 { 
  font-size: 1.5em;
  margin-top: 2em;
}

.article h3 {
  margin-top: 2em;
}

.article p {
  margin: 1em 0em;
  line-height: 2em;
}

.article ul {
  padding-left: 1.5em;
  line-height: 2em;
  margin: 1em 0em 1em 0em;
}

.article__meta {
  padding: 1em 0em 2em 0em;
}

.article__meta__author {
  margin-top: 0.5em;
  font-size: 0.8em;
  font-style: italic;
} 

.article__meta__date {
  margin-top: 0.5em;
  font-size: 0.8em;
  font-style: italic;
}

.article pre {
  margin: 2em 0em !important;
}

.article li {
  margin-bottom: 0.3em;
}

.article p code,
.article ul code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

/*
-----------------------------------------------------------------------------------
|
| Media
|
-----------------------------------------------------------------------------------
*/

.media {
  margin: 2em 0em 2em 0em;
}

.media__image {
  width: 100%;
  // For lazy loading
  opacity: 1;
  transition: opacity 0.3s;

  .media.wide & {
    width: calc(100% + #{$img-wide-overlap});
    margin-left: -250px;
    @media (max-width: $body-width + $img-wide-overlap) {
      width: 100%;
      margin-left: 0px;
    }
  }
}

.media__image[data-src] {
  // For lazy loading
  opacity: 0;
}

.media__caption {
  font-style: italic;
  font-size: 80%;
  text-align: center;
  width: 100%;
  padding: 0em 1.2em;
  color: grey;
  @media (max-width: 720px) {
    padding: none;
  }
}

.media.group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: wrap;
   @media (max-width: 720px) {
    flex-flow: column;
  }
}

.media.group .media__image {
  width: 50%;
  padding: 0.4em;
  @media (max-width: 720px) {
    width: 100%;
  }
}

/*
-----------------------------------------------------------------------------------
|
| Map
|
-----------------------------------------------------------------------------------
*/

[id*="map"] {
  margin: 3em 0em 3em 0em;
  height: 500px;
  border-radius: 4px;
  @media (max-width: 720px) {
    height: 350px;
  }
}

/*
-----------------------------------------------------------------------------------
|
| Misc.
|
-----------------------------------------------------------------------------------
*/

.navigation__back {
  text-align: center;
  margin: 3em 0px 3em 0px;
}

.focus {
  border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;

  &.one {
    background-color: $color-first;
    color: $color-first-blend;
  }

  &.two {
    background-color: $color-second;
    color: $color-second-blend;
  }
}
