/*
-----------------------------------------------------------------------------------
|
| Colors
|
-----------------------------------------------------------------------------------
*/

$color-teal: #34b6d9;
$color-purple: #3464d9;
$color-light-grey: #929292;
$color-yellow: #ffc107;
$color-green: #4caf50;
$color-faded: rgba(255, 255, 255, .8);
