/*
-----------------------------------------------------------------------------------
|
| Colors
|
-----------------------------------------------------------------------------------
*/

$color-teal: #34b6d9;
$color-purple: #3464d9;
$color-blue-light: #c1eafd;
$color-light-grey: #929292;
$color-orange: #ffc107;
$color-green: #4caf50;
$color-faded: rgba(255, 255, 255, .8);
$color-strong-purple: #9c27b0;
$color-soft-black: #2b2b2b;
