/*
-----------------------------------------------------------------------------------
|
| 500 styles
|
-----------------------------------------------------------------------------------
*/

body.page-500, body.page-404  {
  @include gradient-background;
}

body.page-500, body.page-404 {

  .http-error {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .http-error__headline {
    font-size: 5em;
  }

  .http-error__text {
    margin-top: 0.5em;
    font-size: 2em;
    color: white;
  }

}
