/*
-----------------------------------------------------------------------------------
|
| Index page styles
|
-----------------------------------------------------------------------------------
*/

body.page-index {
  @include gradient-background;
}

.page-index {

  .wrapper {
    padding: 0em 5em;

    @include mobile {
      padding: 0em 3.5em;
    }
  }

  .header {
    padding: 3em 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-direction: column;
    }
  }

  .header__search {
    @include tablet {
      margin-top: 3.5em;
      width: 100%;
    }
  }

  .header__search__field {
    border: none;
    background-color: rgba(0, 0, 0, .1);
    padding: 1em;
    font-size: 1em;
    color: $color-faded;
    width: 300px;

    &::placeholder {
      color: $color-faded;
    }

    @include tablet {
      width: 100%;
    }
  }

  .header__emoticons {
    font-size: 3.5em;
  }

  .header__logo {
    width: 100%;
    max-width: 500px;
  }

  .article-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .article-grid__item {
    background-color: white;
    display: inline-block;
    margin-bottom: 2em;
    width: 30%;
    min-height: 7em;
    padding: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

    @include tablet {
      width: 100%;
    }

    // For typograhpy in item
    text-decoration: none;
    color: black;

    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }

  .article-grid__title {
    line-height: 1.2em;
  }

  .article-grid__meta {
    color: $color-light-grey;
    font-size: 0.8em;
    margin-top: 0.7em;

    [class^="category-"]  {
      padding: 0.3em 0.4em;
      border-radius: 4px;
      color: white;
      display: inline-block;
      margin-right: 0.5em;
    }
    .category-development { background-color: $color-yellow; }
    .category-travel { background-color: $color-green; }
  }

}
