extends ./templates/template.jade

block vars
  - var title = article.title + ' | Lindekaer'
  - var author = article.author
  - var description = article.description
  - var keywords = article.keywords
  - var page = 'page-article'

block content

  .gradient-top

  article.article(itemscope='', itemtype='http://schema.org/Article')

    h1.article__title(itemprop='headline') #{article.title}

    .article__meta
      .article__meta__author(itemprop='author', itemscope='', itemtype='https://schema.org/Person') 
        span(itemprop='name') #{article.author}
      .article__meta__date
        span(itemprop='datePublished') #{article.date}

    main.article__content.
      !{article.content}

  .navigation__back
    a(href="/") Go to main page
