extends ./templates/template.jade

block vars
  - var author = 'Theodor C. Listov Lindekaer'
  - var description = 'Awesome it is...'
  - var keywords = 'test, test, test'
  - var page = 'page-index';

block content
  
  h1.front__headline Lindekaer
  ul.front__links
    li
      a(href="https://github.com/lindekaer", target="_blank") Github
    li 
      a(href="mailto:theodor.lindekaer@gmail.com") Email
    li 
      a(href="https://www.linkedin.com/in/theodor-c-listov-lindekaer-3289833b", target="_blank") LinkedIn
    li 
      a(href="https://www.facebook.com/theodor.lindekaer", target="_blank") Facebook
    li 
      a(href="https://twitter.com/lindekaer", target="_blank") Twitter

  select.front__article-selector.js-selector
    option(value="index") Stuff I've written
    for article in articles
      option(value="#{article.slug}", hash="#{article.hash}") #{article.title}