extends ./templates/template.jade

block vars
  - var page = 'page-index';

block content
  img.front__logo(src="img/logo.png")   
  ul.front__links
    li
      a(href="https://github.com/lindekaer", target="_blank", title="Github") Github
    li 
      a(href="mailto:theodor.lindekaer@gmail.com", title="Email") Email
    li 
      a(href="https://www.linkedin.com/in/theodor-c-listov-lindekaer-3289833b", target="_blank", title="LinkedIn") LinkedIn
    li 
      a(href="https://www.facebook.com/theodor.lindekaer", target="_blank", title="Facebook") Facebook
    li 
      a(href="https://twitter.com/lindekaer", target="_blank", title="Twitter") Twitter

  select.front__article-selector.js-selector
    option(value="index") Pick an article
    for category in content
      optgroup(label="#{category.name}")
        for article in category.articles
          option(value="#{article.slug}", hash="#{article.hash}") #{article.title}
